<script setup>
import { useField, useForm } from 'vee-validate'
import { useCommentsStore } from '../../stores/review';

const commentsStore = useCommentsStore()

const isRequired = value => (value ? true : 'This field is required');

const { handleSubmit } = useForm()
const { value: userComment, errorMessage } = useField('userComment', isRequired)
const { value: userName, errorMessage: errorMessageName } = useField('userName', isRequired)

const onSubmit = handleSubmit(() => {
    const newComment = {
        name: userName.value,
        comment: userComment.value,
        date: getDate()
    }

    commentsStore.setComments(newComment)
    userComment.value = ''
    userName.value = ''
})


function getDate() {
    let getDate = new Date()

    const getShortMonth = (() => {

        let shortMonth = new Date().toLocaleString('en', {
            month: 'long'
        });
        return shortMonth.slice(0, 3)
    })
    let month = getShortMonth()
    return String(getDate.getDate()).padStart(2, '0') + ' ' + month + ' ' + getDate.getFullYear()
}
</script>

<template>
    <div class="container">
        <form action="" @submit.prevent="onSubmit">
            <input 
                class="input__form" 
                type="text" 
                v-model="userName" 
                placeholder="Your name"
                @keydown.ctrl.enter="onSubmit"
            >
            <span :class="{invalid: errorMessageName}">{{ errorMessageName }}</span>
            <textarea 
                v-model="userComment" 
                type="text" 
                class="textarea__form"
                placeholder="Your comment"
                @keydown.ctrl.enter="onSubmit"
                ></textarea>
            <span :class="{invalid: errorMessage}">{{ errorMessage }}</span>
            <button 
                type="submit" 
                class="button__form"
                >Send a message</button>

        </form>
    </div>
</template>

<style scoped>
.container {
    background-color: #F2F2F2;
    padding: 20px 0px;
    text-align: center;
}
.button__form {
    background: #FDD639;
    border-radius: 23px;
    width: 281px;
    height: 43px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

button:hover {
  color: white;
  transition: 0.5s;
}

.textarea__form {
    width: 90%;
    height: 63px;
}

.input__form {
    width: 90%;
    border: none;
    margin: 10px 0px;
}

input:focus {
  outline: 1px solid #FDD639;
  transition: 0.5s;
}

.invalid {
    color: #dc3545;
    display: flex;
    margin-bottom: 15px;
    margin-left: 20px;
}
</style>