<script setup>
import { useCommentsStore } from '../../stores/review'
import ReviewItem from './ReviewItem.vue'


const commentsStore = useCommentsStore()
</script>

<template>
    <div class="container">
        <div class="reviews__row">
            <div class="reviews__menu">
                <ul>
                    <li>
                        <a href="#">Latest reviews</a>
                    </li>
                    <li>
                        <a href="#">All reviews</a>
                    </li>
                </ul>
            </div>

            <div class="reviews__reactions">
                <div class="reviews__likes">
                    <img src="../icons/like.svg" alt="icon likes">
                    <span>131</span>
                </div>
                <div class="reviews__comments">
                    <img src="../icons/comment.svg" alt="icon comment">
                    <span>14</span>
                </div>
            </div>

        </div>

        <ReviewItem v-for="comment of commentsStore.comments" :key="comment.name" :comment="comment"/>

</div>
</template>

<style scoped>
.reviews__row {
    display: flex;
    justify-content: space-between;
}

.reviews__menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.reviews__menu ul {
    padding: 0;
    display: flex;
}

.reviews__menu li {
    margin-right: 20px;
}

.reviews__reactions {
    display: flex;
    justify-content: space-between;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
}

.reviews__likes, .reviews__comments {
    display: flex;
    text-align: center;
    margin-right: 20px;
}

img {
    margin-right: 5px;
}

</style>