<script setup>
const props = defineProps({
    comment: {
        type: Object,
        required: true,
        default: () => {}
    }
})
</script>

<template>
    <div class="container">
        <div class="review__info">
            <div class="review__user"> {{ comment.name }} </div>
            <div class="review__date"> {{ comment.date }} </div>
        </div>

        <div class="review__text review__bg"> {{ comment.comment }} </div>
</div>
</template>


<style scoped>
.container {
    margin-top: 0;
}

.review__info {
    display: flex;
}

.review__user {
    margin-right: 8px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.review__date {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    color: #808080;
}

.review__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    padding: 11px;
}

.review__bg {
    background: #F2FBFF;
    border: 1px solid #C4CBCF;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.1);
    margin: 10px 0px;
}
</style>