<template>
    <div class="container">
    <div class="services">
        <div class="serv">Services</div>
        <hr>
        <div class="services__row">
            <ul class="services__title">
                <div class="services__title__bg-1"></div>
                <li>Manual tour booking</li>
                <div class="services__title__bg-2"></div>
                <li>Package tours</li>
                <div class="services__title__bg-3"></div>
                <li>Hotels</li>
            </ul>
            
            <ul class="services__numbers">
                <li>11</li>
                <li>3</li>
                <li>1</li>
            </ul>
        </div>
        
        <hr>
        <div class="services__total">
            <div class="total">Total</div>
            <div class="total__number">15</div>
        </div>
    </div>
</div>
</template>

<style scoped>
.services {
    max-width: 100%;
    min-width: 290px;
    margin: 10px 80px;
}
.serv {
    text-align: right;
    margin-right: 30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.services__row {
    display: flex;
    justify-content: space-between;
}
.services__title {
    padding-left: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    border-left: 1px solid rgba(51, 51, 51, 0.2);
    height: 100%;
}

.services__title__bg-1 {
    width: 219px;
    height: 24px;
    z-index: -1;
    position: absolute;
    margin: 0px 0px 3px 0px;
    background: #B1E19B;
    border-radius: 0px 3px 3px 0px;
}

.services__title__bg-2 {
    width: 54px;
    height: 24px;
    z-index: -1;
    position: absolute;
    background: #ACE2F8;
    border-radius: 0px 3px 3px 0px;
}

.services__title__bg-3 {
    width: 36px;
    height: 24px;
    z-index: -1;
    position: absolute;
    background: #ACE2F8;
    border-radius: 0px 3px 3px 0px;
}

.services__numbers {
    margin-right: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #333333;
}

.services__numbers li {
    margin: 10px 0px;
}

.services__total {
    display: flex;
    justify-content: space-between;
}

.total {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    color: #333333;
}

.total__number {
    margin-right: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #333333;
}

hr {
    width: 100%;
    border: 1px solid #DADADA;
}
</style>