<template>
    <div class="container">
    <div class="user__row">
        <img class="user__img" src="../img/user-photo.jpg" alt="user photo">
        <div class="user__info">
        <div class="user__name">Eva Jonson</div>
        <div class="user__position">Sales Manager</div>
        <div class="user__offer">
            I will find the best offers for you. My services are absolutely free.
        </div>
    </div>
    </div>
</div>
</template>

<style scoped>
.user__row {
    display: flex;
}
.user__img {
    border-radius: 50%;
    width: 124px;
    height: 124px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.user__info {
    margin-top: 10px;
    display: block;
    min-width: 250px;
    width: 100%;
}
.user__offer {
    padding: 10px;
    margin-left: -40px;
    background: #FFFBC8;
    border: 1px solid #DADADA;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    padding-left: 50px;
    margin-right: 10px;
}

.user__position {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #808080;
    margin-left: 10px;
}

.user__name {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-left: 10px;
}
</style>