<script setup>

import UserInfo from './components/layout/UserInfo.vue'
import Services from './components/layout/Services.vue'
import LatestReviews from './components/layout/LatestReviews.vue'
import CommentForm from './components/layout/CommentForm.vue'

</script>

<template>
    <UserInfo/>
    <Services/>
    <LatestReviews/>
    <CommentForm />
</template>

<style>
.container {
  max-width: 720px;
  min-width: 360px;
  margin: auto;
  margin-top: 15px;
  height: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  color: #73B4D5;
  transition: 0.5s;
}

textarea {
  resize: none;
  border: none;
  outline: 0;
}

textarea:focus {
  outline: 1px solid #FDD639;
  transition: 0.5s;
}

button { 
  cursor: pointer;
  border: none;
}

</style>
